---
services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:16
    # Default ports.
    environment:
      POSTGRES_DB: warehouse
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    # Named volume:
    volumes:
      - db_data:/var/lib/postgresql/data/

volumes:
  db_data:
