---
services:
  app:
    build: .
    ports:
      # Host:Container:
      - "8080:8080"
    depends_on:
      - db
  db:
    image: postgres:16
    volumes:
      - db_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: warehouse

volumes:
  db_data:
